/* design af tilmeldings siden*/


.stelbaggrund {
    background-color: white;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 2em;
    margin-top: -2em;
    box-shadow: 0px 45px 30px #2d2d2d;
  }

  .steludregner {
    width: 50%;
    margin-left: auto; 
    margin-right: auto; 
  }

  .steludregner p {
    text-align: center;
  }

  h1 {
    text-align: center;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    background-color: #223C70;
    padding-top: 4em;
    padding-bottom: 4em;
    color: #FFFFFF;
  }

  h2 {
    text-align: center;
  }

  .container-entry-content {
    background-color: white;
    margin-top: -6em;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 2em;
    padding-bottom: 5em;
    border-radius: 25px;
    box-shadow: 0px 30px 30px #2d2d2d;
  }

  .container-entry-content h4 {
    padding-left: 4em;
  }

  .container-entry-content p {
    padding-left: 5.4em;
    margin-top: -2em;
  }

  .tilmelding {
    padding-top: 5em;
    text-align: center;
  }

  .tilmelding p {
    padding-left: 20em;
    padding-right: 20em;
  }

  input[type=submit] {
    width: 30%;
    font-size: 30px;
    padding-top: 5em;
  }

  p {
      font-size: 20px;
  }

  .container-entry-content p {
      font-size: 20px;
  }


/*mobil version - MÅL FÅET FRA WORDPRESS TEMA */
  @media (max-width: 767px) {
  

    input[type=submit] {
    padding-top: 5em;
    width: 80%;
  }

  .stelbaggrund {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
  }

  .container-entry-content {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
  }

  h4, p {
    text-align: center;
  }

  .container-entry-content {
      padding-bottom: 1em;

  }

  .container-entry-content p {
    padding-left: 1em;
    margin-top: -2em;
    

}

.container-entry-content h4 {
  padding-left: 1em;

}

  .steludregner p {
      margin-left: -5em;
      margin-right: -5em;
     
  }

  .tilmelding input {
    width: 50%;
    
  }

  .tilmelding p {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

#skridtlaengde {
  width: 97%;
}

.beregning {
  margin-left: 2em;
}


}


  