.textbokse {
  display: grid; 
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas: 
  ". kontingent regler ."
  ;
}

.regler {
  grid-area: regler; 
  
}

.kontingent {
  grid-area: kontingent; 
}

 
 .steludregner {
    width: 50%;
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 2em;
  }

  .steludregner p{
    margin-right: 5em;
    text-align: center;


  }

  h1 {
    text-align: center;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    background-color: #223C70;
    padding-top: 4em;
    padding-bottom: 4em;
    color: #FFFFFF;
  }

  h2 {
    text-align: center;
  }

  .container-entry-content {
    background-color: white;
    margin-top: -6em;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 2em;
    padding-bottom: 5em;
    border-radius: 25px;
    box-shadow: 0px 30px 30px #2d2d2d;
  }

  

  .container-entry-content p {
    padding-left: 5.4em;
    margin-top: -0.5em;
  }

  .tilmelding {
    padding-top: 5em;
    text-align: center;
  }

  .tilmelding p {
    padding-left: 20em;
    padding-right: 20em;
  }

  input[type=submit] {
    width: 30%;
    font-size: 30px;
    padding-top: 5em;
  }

  .container-entry-content p {
      font-size: 18px;
      color: #4B4B4B;
  }

  h2{
    font-weight: 600;
  }


/*mobil version - MÅL FÅET FRA WORDPRESS TEMA */
  @media (max-width: 900px) {


    .textbokse {
      display: grid; 
      grid-template-columns: 2fr ;
      grid-template-areas: 
      "kontingent"
      "regler"; 

    }

    .regler {
      grid-area: regler; 
      
    }

    .kontingent {
      grid-area: kontingent; 
    }

    .textbokse p {
      padding-top: 2em;
      padding-right: 0.5em;
    }

    h2{
      font-weight: 600;
    }
  

    input[type=submit] {
    padding-top: 5em;
    width: 80%;
  }

  .container-entry-content {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
  }

  p {
    text-align: center;
  }

  .container-entry-content {
      padding-bottom: 1em;

  }

  .container-entry-content p {
    padding-left: 1em;
    margin-top: -2em;
    

}

  .steludregner p {
      margin-left: -5em;
      margin-right: -5em;
      padding-top: 2em;
      padding-bottom: 2em;
      padding-right: 1em;
     
  }

  .tilmelding input {
    width: 50%;
    
  }

  .tilmelding p {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
  }

#skridtlaengde {
  width: 97%;
}

.beregning {
  margin-left: 2em;
}


}


  